body {
    margin: 0;
}

.container {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

.child-container {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    /* border: 1px solid red; */
}

.child-container p {
    width: 1100px;
    margin-bottom: 30px;
    margin-right: 3px;
    margin-left: 3px;
}

.i1 img {
    display: inline-block;
    width: 350px;
    margin: 0;
}

.cc-container {
    width: 80vw;
    display: grid;
    flex-wrap: wrap;
    gap: 50px 100px;
    margin-left: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-bottom: 50px;
}

.i1 {
    position: relative;
    border: 50px;
    display: inline-block;
}

.i1:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.i1 img.image-hover {
    position: absolute;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
    margin-left: -350px;
}

.i1:hover img.image-hover {
    opacity: 1;
}

.btn {
    margin-left: 80px;
    margin-right: 2px;
    height: 23px;
    width: 120px;
    background-color: black;
    color: #fff;
    border-radius: 3px;
    font-family: Helvetica;
    font-size: 15px;
    padding: 0 5px;
}

.btn:active {
    background-color: rgba(0, 0, 0, 0.671);
}

.name{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 3px;
}